body {    
    padding: 0;
    box-sizing: border-box;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}

.bottom {
    position: absolute;
    top: 30%;
    width: 300px;
    height: 300px;
    background: #ccc;
    border-radius: 50%;
    box-shadow: -12px 11px 34px -2px #0f0f0f;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.cup {
    width: 170px;
    height: 170px;
    position: absolute;
    left: 40px;
    top: 60px;
    background: #ccc;
    border-radius: 50%;
    box-shadow: -12PX 11PX 34PX -2px #0f0f0f,
    -12PX 11PX 34PX -2px #0f0f0f;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.cup::before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    background: #ccc;
    top: 110px;
    transform: rotate(-45deg);
    left: 20px;
    box-shadow: -12PX 11PX 34PX -2px #0f0f0f,    -12PX 11PX 34PX -2px #0f0f0f;
    z-index: 3;
    border-radius: 25px 0 0 25px;
    -webkit-border-radius: 25px 0 0 25px;
    -moz-border-radius: 25px 0 0 25px;
    -ms-border-radius: 25px 0 0 25px;
    -o-border-radius: 25px 0 0 25px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.liquid {
    position: absolute;
    background: rgb(46, 45, 45);
    border: 10px solid #ccc;
    box-shadow: -12px 11px 34px -2px #0f0f0f,  -12px 11px 34px -2px #0f0f0f;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    left: 20px;
    top: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.liquid::after {
    content: '';
    width: 10px;
    height: 35px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: rotate(-45deg);
    box-shadow: 2px 2px 10px -2px #fff;
    display: inline-block;
    background: #d6d6d5;
    position: absolute;
    left: 75px;
    top: 10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.spoon {
    width: 20px;
    height: 210px;
    background: rgba(115, 117, 177);
    position: absolute;
    bottom: 10px;
    left: 230px;
    transform: rotate(25deg);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: -12px 11px 34px inset #413d3d, -12px 11px 24px -2px #0f0f0f;
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
}

.spoon::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: -18px;
    top: -10px;
    width: 60px;
    height: 90px;
    background: rgba(115, 117, 177);
    box-shadow: -12px 11px 34px inset #312f2f, -12px 8px 24px -2px #0f0f0f;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

p {
    position: absolute;
    top: -130px;
    left: 19px;
    font-size: 25px;
    color: rgba(7, 7, 7);
}

span {
    color: rgba(255, 255, 255);
    font-weight: 700;
    font-size: 39px;
}

.copyright {
    position: absolute;
    bottom: 5px;  
    color: rgba(255, 255, 255);
    letter-spacing: 2px;    
}

i {
    font-style: normal;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: rgba(7, 7, 7)
}